# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1 

parameters:
    temp:
        type: boolean
        default: true

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/jobs-steps/#jobs-overview & https://circleci.com/docs/configuration-reference/#jobs
jobs:
  self-host-test:
    machine: true
    resource_class: aws-ec2-runner/micro
    steps:
      - run: 
          name: "Run a 6-hour job with regular output"
          command: |
            echo "Starting 6-hour process..."
            for i in $(seq 1 360); do
              echo "[Minute $i of 360] Process is still running..."
              sleep 60
            done
  sleep:
    # docker:
      # - image: cimg/base:current
    # resource_class: large
    macos:
      xcode: "14.2.0"
    resource_class: macos.m1.medium.gen1
    # Add steps to the job
    steps:
      # Checkout the code as the first step.
      - checkout
      - run:
          name: "sleep for 1 minute"
          command: "sleep 120"

  sleep_2:
    docker:
      - image: cimg/base:current
    # resource_class: large
    # Add steps to the job
    steps:
      # Checkout the code as the first step.
      - checkout
      - run:
          name: "sleep a while for fork repo"
          command: "sleep 31"

  cpu-stress-test:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          name: "Install stress package (if needed)"
          command: |
            sudo apt-get update
            sudo apt-get install -y stress
      - run:
          name: "Run CPU stress test"
          command: |
            chmod +x cpu_stress.sh
            ./cpu_stress.sh


# Orchestrate jobs using workflows
# See: https://circleci.com/docs/workflows/ & https://circleci.com/docs/configuration-reference/#workflows
workflows:

  say-hello-workflow: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    when:
      equal: [<<pipeline.project.git_url>>, https://github.com/anonymoustest03/gatest1-03]
      # and:
      #      - equal: [<<pipeline.project.git_url>>, https://github.com/anonymoustest03/gatest1-03]
      #      - <<pipeline.parameters.nightly>>
    jobs:
      - sleep_2
      # - cpu-stress-test
      # - self-host-test
      

  say-hello-workflow_from_fork: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    when:
            not:
                 equal: [<<pipeline.project.git_url>>, https://github.com/anonymoustest03/gatest1-03]
    jobs:
      - sleep_2
      # - cpu-stress-test

# workflows:
#   say-hello-workflow:
#     jobs:
#       - sleep:
#           filters:
#             branches:
#               ignore: /.*/
#             pull_requests:
#               only:
#                 - /.*/
#       - cpu-stress-test:
#           filters:
#             branches:
#               ignore: /.*/
#             pull_requests:
#               only:
#                 - /.*/



